*{
    font-family: 'work sans',sans-serif;
}



header{
    background: rgba(255, 144, 14, 0.10);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    color: #000;
    
}
nav li a{
text-decoration: none;
color: #000;
}

/* banner style */
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
}
.banner-title{
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    }

.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin: 64px 180px;
    padding: 20px 25px;

   

}
.banner img{
    width: 100%;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}

@media screen  and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }
}

/* teams style */

main {
    max-width: 1440px;
    margin: 0 auto;

}

.teams-container{
    display: flex;
    align-items: center;
    

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-text-prg{
    color:  #727272;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}